{% extends './index.html' %}
{% block heading %} 
  <div class="w3-opacity">
    <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span> 
    <div class="w3-clear"></div>
    <header class="w3-center w3-margin-bottom">
      <h1><b>Anime Recommendation</b></h1>
      <h2>User ID: {{mal_un}}</h2></br>
    </header>
    </div>
{% endblock %} 

{% block content %}
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3"> Top Animes </h3>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    {% if images.1 != '' and names.1 != '' %}
                                    <img class="img-fluid" alt="100%x280" src={{"https://cdn.myanimelist.net/images/anime/10/78745.jpg"}}>
                                    <div class="card-body">
                                        <h4 class="card-title">{{'Boku No Hero Academia'}}</h4>
                                        <p class="card-text">Anime Description</p>
                                    </div>
                                    {% else %}
                                    <img class="img-fluid" alt="100%x280" src={{images.1}}>
                                    <div class="card-body">
                                        <h4 class="card-title">Test</h4>
                                        <p class="card-text">Anime Description</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src={{images.1}}>
                                    <div class="card-body">
                                        <h4 class="card-title">{{names.1}}</h4>
                                        <p class="card-text">Anime Description</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src={{images.2}}>
                                    <div class="card-body">
                                        <h4 class="card-title">{{names.2}}</h4>
                                        <p class="card-text">Anime Description</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src={{images.3}}>
                                    <div class="card-body">
                                        <h4 class="card-title">{{names.3}}</h4>
                                        <p class="card-text">Anime Description</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src={{images.4}}>
                                    <div class="card-body">
                                        <h4 class="card-title">{{names.4}}</h4>
                                        <p class="card-text">Anime Description</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src={{images.5}}>
                                    <div class="card-body">
                                        <h4 class="card-title">{{names.5}}</h4>
                                        <p class="card-text">Anime Description</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src={{images.6}}>
                                    <div class="card-body">
                                        <h4 class="card-title">{{names.6}}</h4>
                                        <p class="card-text">Anime Description</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src={{images.7}}>
                                    <div class="card-body">
                                        <h4 class="card-title">{{names.7}}</h4>
                                        <p class="card-text">Anime Description</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src={{images.8}}>
                                    <div class="card-body">
                                        <h4 class="card-title">{{names.8}}</h4>
                                        <p class="card-text">Anime Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}